*.iml
*.pyc
*.swp
.DS_Store
.classpath
.externalNativeBuild
.gradle/
.idea/
.metadata
.packages
.project
.settings/
/.idea/libraries
/.idea/workspace.xml
/.pydevproject
/build
/captures
/local.properties
bin/
build/
gen/
out/artifacts
target/
